{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>Вход</h1>
    <form method="POST" action="{{ url_for('main.login') }}">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-check mb-3">
            {{ form.remember_me(class="form-check-input") }}
            {{ form.remember_me.label(class="form-check-label") }}
        </div>
        <button type="submit" class="btn btn-primary my-3">Войти</button>
    </form>
</div>
{% endblock %}
